$font-stack: Helvetica, sans-serif;
$link-color: #61dafb;
$border1: black solid thin;
$border2: gold solid 3px;
$tab-width: 10em;
$tab-height: 2.5em;

#root {
  min-width: 100vw;
  min-height: 100vh;
}

.main {
  font: $font-stack;
  letter-spacing: 1px;
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  &__left {
    flex-basis: 20%;
    height: inherit;
    background-color: rgba(255, 245, 218, 0.658);
  }

  &__right {
    flex-basis: 80%;
    background-color: rgba(253, 249, 242, 0.445);
  }
}

// for main left/ selfPanel
.selfPanel {
  display: flex;
  flex-direction: column;

  &__img {
    margin: auto;
    padding: 3vh 1vw;
    width: 180px;
    height: auto;
  }

  &__info {
    letter-spacing: 0;
    padding-left: 10px;
    padding-right: 5px;
  }

  &__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &--italic {
    font-style: italic;
  }
}

.navigator {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__tab {
    margin: auto;
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $tab-width;
  height: $tab-height;
  font-size: 18px;
  border-radius: 5px;
  background-color: #ffedd5;
  cursor: pointer;

  &__wrapper {
    position: relative;
    width: $tab-width;
    height: $tab-height;
    text-align: center;
  }

  &__svg {
    width: inherit;
    height: inherit;
  }

  &__rect {
    stroke-width: 8px;
    stroke: #ff6348;
    fill: transparent;

    width: inherit;
    height: inherit;
    stroke-dasharray: ($tab-width - 2 * $tab-height) 600;
    stroke-dashoffset: -($tab-width + 2 * $tab-height);
  }

  &__content {
    color: rgb(49, 42, 42);
    position: relative;
    top: -2.3em;
  }

  &__wrapper:hover &__rect {
    animation: 0.3s extend linear forwards;
  }

  &:hover {
    background-color: #e7d6c0;
  }

  &--active {
    background-color: #e7d6c0;
  }
}

.content {
  margin: 2em 1em;

  &__detail {
    padding-left: 25px;
    padding-bottom: 20px;
    border-bottom: $border1;
  }

  &--hide {
    display: None;
  }
}

.hobby {
  // border: $border1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 10 rem;
  height: 15 rem;

  &__item {
    display: flex;
    // flex-basis: 40%;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: #fdf3e5;
    margin: 1em auto;
    padding: 1em 2em;
  }

  &__img {
    margin: auto;
  }

  &__desc {
    margin-top: 0.5em;
    letter-spacing: 0;
    width: 25em;
  }
}

.slide {
  margin: auto;

  &__img {
    width: 20em;
    height: auto;
    padding: 1em 2em;
    animation: fade-in 1s;
  }

  &--pointer {
    cursor: pointer;
  }
  &--hide {
    display: none;
  }
}

footer {
  position: absolute;
  margin-top: -1.5em;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
}

@keyframes extend {
  to {
    stroke-dasharray: 2 * ($tab-width + $tab-height);
    stroke-dashoffset: 0;
    stroke-width: 3;
  }
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
